// src/styles/_variables.scss

//colors
$white: #F5F1EA;
$black: #1A1A1A;
$blue-gray: #4B647B;
$red-orange: #D77A61;
$green-blue: #8AA29E;
$modal-layer: rgba(26, 26, 26, 0.6);

// typography
$font-size-base: 12px;
$title-font: "EB Garamond", serif;
$button-font: "EB Garamond", serif;
$paragraph-font: "Manrope", sans-serif;
