@use "./variables";

.layout {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 90dvh;
  }
  
.main {
  height: calc(100dvh - 40px);
}

.main-title {
  font-family: variables.$title-font;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 1rem;
  width: fit-content;
}

p {
  line-height: 18px;
}