.user-report-data {
    width: 100%;
    margin: 20px 0;
    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        .main-title {
            margin-bottom: 0;
            text-decoration: underline;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &__item {
            display: flex;
            justify-content: space-between;
            .name {
                font-weight: 500;
            }
            .value {
                font-weight: 600;
            }
        }
    }
}
